CTE308/lab03/item.xsd

<xs:schema 
xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="https://www.w3schools.com"
elementFormDefault="qualified">
  <xs:element name="Item_catalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Food_Item" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Name"/>
              <xs:element type="xs:string" name="Price"/>
              <xs:element type="xs:string" name="Calories"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>